<html>
<head>
    <title>Two Game</title>
</head>
<body>
    {% load staticfiles %}
    <script src="{% static 'jquery-1.12.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'reconnecting-websocket.min.js' %}" type="text/javascript"></script>
    <table>
      <caption>two player game</caption>
      <colgroup><col><col><col><col><col><col><col><col>
      <colgroup><col><col><col><col><col><col><col><col>
      <tbody>
        {% for row in rows %}
            <tr id="{{row}}">
                {% for col in cols %}
                    <td class="game" data-value="{{row}}:{{col}}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
     </tbody>
    </table>
    <!-- Game created -->
    {% if messages %}
        {% for message in messages %}
            <input type="hidden" id="id_player" name="player" value="{{message}}">
        {% endfor %}
    {% endif %}
    <script>
        $(function() {
            // When we're using HTTPS, use WSS too.
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            console.log(window.location.pathname);
            var gamesock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + window.location.pathname);
            gamesock.onmessage = function(message) {
                console.log(JSON.parse(message.data));
                var data =  JSON.parse(message.data);
                var row = data['row'];
                var col = parseInt(data['col'])+1;
                $("table #"+row+" td:nth-child("+col+")").attr('bgcolor', data['color']);
                console.log(data);
            };

            $(".game").on("click", function(event) {
                if($("#id_player").length == 0){
                    window.location.href = "/";
                    console.log("data")
                }
                var data = {
                    "player" : $("#id_player").val(),
                    "row_col" : $(this).data('value')
                };
                //console.log(data);
                gamesock.send(JSON.stringify(data));
                return false;
            });
    });
    </script>

    <style>
        table { border-collapse: collapse; font-family: Calibri, sans-serif; }
        colgroup, tbody { border: solid medium; }
        td { border: solid thin; height: 1.4em; width: 1.4em; text-align: center; padding: 0; }
    </style>
</body>